* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /*colors*/
  --pink-light: #c59dd2;
  --pink-base: #9547a5;
  --pink-dark: #7d298a;
  --pink-low: #3f0f41;

  --blue-light: #73b6d2;
  --blue-base: #358bb9;
  --blue-mid: #2374a4;
  --blue-dark: #144a72;
  --blue-low: #08233c;

  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000f1f;
  --shape-background: #00050a;

  --text-title: #f8fbfb;
  --text-body: #e2e7e9;
  --text-label: #bac6c9;

  /*tipografia*/
  --ff-base: "raleway", sans-serif;
  --title-lg: 700 1.75rem / auto var(--ff-base);
  --title-md: 700 2.5rem / auto var(--ff-base);
  --title-sm: 700 1.5rem / auto var(--ff-base);
  --title-xs: 700 1rem / auto var(--ff-base);
  --subtitle: 500 1rem/200% var(--ff-base);
  --body-lg: 400 0.875rem/140% var(--ff-base);
  --body-md: 400 1rem/140% var(--ff-base);
  --body-sm: 400 0.875rem/140% var(--ff-base);
  --body-xs: 400 0.75rem/140% var(--ff-base);
  --button: 700 0.875rem/auto var(--ff-base);
  --link: 500 0.875rem/auto var(--ff-base);
  --tag: 700 0.625rem/auto var(--ff-base) uppercase;
}
html {
  font-family: var(--ff-base);
  color: var(--text-body);

  overflow-x: hidden;

  scroll-behavior: smooth;
}
body {
  background-color: var(--shape-background);
  overflow-x: hidden;
}
h1,
h2 {
  color: var(--text-title);
}
h1 {
  font: var(--title-lg);
}
h2 {
  font: var(--title-sm);
}
.subtitle {
  font: var(--body-lg);
}
.paragraph {
  font: var(--subtitle);
}
a {
  text-decoration: none;
  color: inherit;
}
@media (width >= 80em) {
  :root {
    --title-lg: 700 3rem / auto var(--ff-base);
    --title-sm: 700 2rem / auto var(--ff-base);
    --body-lg: 400 1.25rem/140% var(--ff-base);
    --subtitle: 500 2rem/200% var(--ff-base);
  }
}
