.btn{
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: .5rem;
    cursor: pointer;
    font: 700 .875rem var(--ff-base);
}
.btn-sm{
    padding: .75rem 1.25rem;
    background-color: var(--pink-dark);
}
.btn-sm:hover{
    background-color: var(--pink-base);
}
.container{
    margin-inline: auto;
}
a{
    text-decoration: none;
    color: var(--text-title);
}